
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color:#B0E0E6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
 .containers {
   background-color:#fff;
   width: 100%;
   margin:  auto;
   // text-align: center;
     }

 div.form{
	    display: block;
	    text-align: center;
	  }

   form{

    //display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media print {
    #print,#excel,#pdf{
        display: none;
    }}

    .new_plot {
  display: none
}